<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                LOGO
            </div>
            <ul>
                <li>Home</li>
            </ul>
        </nav>
    </header>
    <h1 class="title">Sistema para controle de funcionarios</h1>
    <p class="aviso">Em construção!!</p>
</body>
</html>